@import 'tailwindcss';

body::-webkit-scrollbar{
  display: none;
}

body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@layer components{
  .no-scrollbar::-webkit-scrollbar{
    display: none;
  }
}